{{> header}}
{{> loader}}
{{> floating-search}}

<section class="page-section advcry_brd_page">
  <div class="breadCrumbWrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="current"><a href="#">Advisory Boards</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="title_box">
      <div class="title_box text-center">
          <h2 class="section-title"><span>Advisory Boards</span></h2>
      </div>
    </div>
    <div class="new_disc_sec">
        <div class="header-desc">
            <div class="text_box text-center">
                <p>Scientists and experts in their specific fields of science supporting/advising the
                federal government in matters related to science & technology research and policy.</p>    
            </div>
        </div>
        <div class="list_box">
            <p><strong>Examples of the proposed reports:</strong></p>
            <ul>
                <li><p>Research priorities from science community perspective in each sector
                (Starting 50-year plan white papers)</p></li>
                <li><p>Current status of the R&D eco-system (combined with Elsevier report)</p></li>
                <li><p>Status of Advance Technology /part of AT Agenda</p></li>
                <li><p>Recommendations on our policies: (Funding model, Performance)</p></li>
                <li><p>R&D Fee Exemption</p></li>
                <li><p>Mapping of R&D capabilities and interest</p></li>
                <li><p>Mapping international collaboration map & countries to target.</p></li>
            </ul>
        </div>
    </div>
  </div>
</section>

<section class="page-section no_padd_top advcry_brd_page_sec">
    <div class="container">
        <div class="inner_">
            <div class="adv_box_">
                <div class="sub_hd text-center">
                    <h4>Natural Sciences</h4>
                </div>
                <div class="membr_bx">
                    <div class="lf_">
                        <div class="img_wrap">
                            <picture>
                                <source srcset="{{assets}}/images/members/member05.png" type="image/webp">
                                <source srcset="{{assets}}/images/members/member05.png" type="image/png">
                                <img src="{{assets}}/images/members/member05.png" loading="lazy" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="rgt_">
                        <div class="rgt_hd">
                            <h3>Professor Sehamuddin Galadari</h3>
                        </div>
                        <div class="sub_head">
                            <label>Head of Comittee</label>
                        </div>
                    </div>  
                </div>
                <div class="adv_detail_">
                    <div class="tree">
                        <ul>
                            <li class="main_lead">
                                <div class="inn_">
                                    <p><strong>Ahmed Al Mheiri</strong>Quantum Physics</p>
                                </div>

                                <div class="tree_wrap" data-tree>
                                    <ul>                                    
                                        <li class="short_ left_radius">
                                            <div class="inn_">
                                                <p><strong>Ahmed Al Mheiri</strong>Quantum Physics</p>
                                            </div>
                                        </li>
                                        <li class="long left_radius">
                                            <div class="inn_">
                                                <p><strong>Ahmed Al Mheiri</strong>Quantum Physics</p>
                                            </div>
                                        </li>
                                        <li class="short_ left_radius">
                                            <div class="inn_">
                                                <p><strong>Ahmed Al Mheiri</strong>Quantum Physics</p>
                                            </div>
                                        </li>
                                        <li class="long left_radius">
                                            <div class="inn_">
                                                <p><strong>Ahmed Al Mheiri</strong>Quantum Physics</p>
                                            </div>
                                        </li>
                                        <li class="long right_radius">
                                            <div class="inn_">
                                                <p><strong>Ahmed Al Mheiri</strong>Quantum Physics</p>
                                            </div>
                                        </li>
                                        <li class="short_ right_radius">
                                            <div class="inn_">
                                                <p><strong>Ahmed Al Mheiri</strong>Quantum Physics</p>
                                            </div>
                                        </li>
                                        <li class="long right_radius">
                                            <div class="inn_">
                                                <p><strong>Ahmed Al Mheiri</strong>Quantum Physics</p>
                                            </div>
                                        </li>
                                        <li class="short_ right_radius">
                                            <div class="inn_">
                                                <p><strong>Ahmed Al Mheiri</strong>Quantum Physics</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                            </li>
                        </ul>
                    </div>

                    {{!-- <div class="svg_bar">                    
                        
                        <svg viewBox="0 0 1381.726 290.108">
                        <g id="Group_125" data-name="Group 125" transform="translate(-272.5 -715.5)">
                            <path id="Path_148" data-name="Path 148" d="M297.91,459.026V327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(169.09 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_156" data-name="Path 156" d="M395.636,459.026V327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(1064.09 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_155" data-name="Path 155" d="M297.91,459.026V327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(471.59 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_157" data-name="Path 157" d="M395.636,459.026V327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(761.59 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_149" data-name="Path 149" d="M297.91,327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(316.816 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_158" data-name="Path 158" d="M395.636,327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(916.364 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_154" data-name="Path 154" d="M297.91,327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(-24.41 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_159" data-name="Path 159" d="M395.636,327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(1257.59 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <line id="Line_666" data-name="Line 666" x2="1194" transform="translate(363.5 776.5)" fill="none" stroke="#b69151" stroke-width="2"/>
                            <line id="Line_698" data-name="Line 698" y2="118" transform="translate(960 715.5)" fill="none" stroke="#b69151" stroke-width="2"/>
                        </g>
                        </svg>

                        <div class="svg_content">
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Ahmed Al Mheiri</strong>
                                Quantum Physics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Ahmed Al Mheiri</strong>
                                Quantum Physics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Nader Masmoudi</strong>
                                    Mathematics
                                </p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Piergiorgio Percipalle</strong>
                                        Molecular Genetics, Biotechnology
                                    </p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Andrea Maccio</strong> Astrophysics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Panche Naumov</strong>
                                        Chemistry & Material Science
                                    </p>
                                </div>
                                
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Rim Fares</strong> Astrophysics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Fathalla Rihan</strong> Numerical Mathematical Biology</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Mohammed Afzaal</strong> Chemistry</p>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    
                </div>
            </div>
            {{!-- <div class="adv_box_">
                <div class="sub_hd text-center">
                    <h4>Engineering and technology</h4>
                </div>
                <div class="membr_bx">
                    <div class="lf_">
                        <div class="img_wrap">
                            <picture>
                                <source srcset="{{assets}}/images/members/member06.png" type="image/webp">
                                <source srcset="{{assets}}/images/members/member06.png" type="image/png">
                                <img src="{{assets}}/images/members/member06.png" loading="lazy" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="rgt_">
                        <div class="rgt_hd">
                            <h3>Professor Sehamuddin Galadari</h3>
                        </div>
                        <div class="sub_head">
                            <label>Head of Comittee</label>
                        </div>
                    </div>  
                </div>
                <div class="adv_detail_">
                    <div class="svg_bar">                    
                        
                        <svg viewBox="0 0 1381.726 290.108">
                        <g id="Group_125" data-name="Group 125" transform="translate(-272.5 -715.5)">
                            <path id="Path_148" data-name="Path 148" d="M297.91,459.026V327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(169.09 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_156" data-name="Path 156" d="M395.636,459.026V327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(1064.09 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_155" data-name="Path 155" d="M297.91,459.026V327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(471.59 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_157" data-name="Path 157" d="M395.636,459.026V327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(761.59 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_149" data-name="Path 149" d="M297.91,327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(316.816 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_158" data-name="Path 158" d="M395.636,327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(916.364 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_154" data-name="Path 154" d="M297.91,327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(-24.41 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_159" data-name="Path 159" d="M395.636,327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(1257.59 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <line id="Line_666" data-name="Line 666" x2="1194" transform="translate(363.5 776.5)" fill="none" stroke="#b69151" stroke-width="2"/>
                            <line id="Line_698" data-name="Line 698" y2="118" transform="translate(960 715.5)" fill="none" stroke="#b69151" stroke-width="2"/>
                        </g>
                        </svg>

                        <div class="svg_content">
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Ahmed Al Mheiri</strong>
                                Quantum Physics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Ahmed Al Mheiri</strong>
                                Quantum Physics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Nader Masmoudi</strong>
                                    Mathematics
                                </p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Piergiorgio Percipalle</strong>
                                        Molecular Genetics, Biotechnology
                                    </p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Andrea Maccio</strong> Astrophysics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Panche Naumov</strong>
                                        Chemistry & Material Science
                                    </p>
                                </div>
                                
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Rim Fares</strong> Astrophysics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Fathalla Rihan</strong> Numerical Mathematical Biology</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Mohammed Afzaal</strong> Chemistry</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>    
            <div class="adv_box_">
                <div class="sub_hd text-center">
                    <h4>Health and Medical Sciences</h4>
                </div>
                <div class="membr_bx">
                    <div class="lf_">
                        <div class="img_wrap">
                            <picture>
                                <source srcset="{{assets}}/images/members/member04.png" type="image/webp">
                                <source srcset="{{assets}}/images/members/member04.png" type="image/png">
                                <img src="{{assets}}/images/members/member04.png" loading="lazy" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="rgt_">
                        <div class="rgt_hd">
                            <h3>Professor Sehamuddin Galadari</h3>
                        </div>
                        <div class="sub_head">
                            <label>Head of Comittee</label>
                        </div>
                    </div>  
                </div>
                <div class="adv_detail_">
                    <div class="svg_bar">                    
                        
                        <svg viewBox="0 0 1381.726 290.108">
                        <g id="Group_125" data-name="Group 125" transform="translate(-272.5 -715.5)">
                            <path id="Path_148" data-name="Path 148" d="M297.91,459.026V327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(169.09 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_156" data-name="Path 156" d="M395.636,459.026V327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(1064.09 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_155" data-name="Path 155" d="M297.91,459.026V327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(471.59 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_157" data-name="Path 157" d="M395.636,459.026V327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(761.59 546.582)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_149" data-name="Path 149" d="M297.91,327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(316.816 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_158" data-name="Path 158" d="M395.636,327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(916.364 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_154" data-name="Path 154" d="M297.91,327.811a97.725,97.725,0,0,1,97.726-97.726h0" transform="translate(-24.41 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <path id="Path_159" data-name="Path 159" d="M395.636,327.811a97.725,97.725,0,0,0-97.726-97.726h0" transform="translate(1257.59 546.852)" fill="none" stroke="#b69151" stroke-miterlimit="10" stroke-width="2"/>
                            <line id="Line_666" data-name="Line 666" x2="1194" transform="translate(363.5 776.5)" fill="none" stroke="#b69151" stroke-width="2"/>
                            <line id="Line_698" data-name="Line 698" y2="118" transform="translate(960 715.5)" fill="none" stroke="#b69151" stroke-width="2"/>
                        </g>
                        </svg>

                        <div class="svg_content">
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Ahmed Al Mheiri</strong>
                                Quantum Physics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Ahmed Al Mheiri</strong>
                                Quantum Physics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Nader Masmoudi</strong>
                                    Mathematics
                                </p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Piergiorgio Percipalle</strong>
                                        Molecular Genetics, Biotechnology
                                    </p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Andrea Maccio</strong> Astrophysics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Panche Naumov</strong>
                                        Chemistry & Material Science
                                    </p>
                                </div>
                                
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Rim Fares</strong> Astrophysics</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Fathalla Rihan</strong> Numerical Mathematical Biology</p>
                                </div>
                            </div>
                            <div class="box_">
                                <div class="inn">
                                    <p><strong>Mohammed Afzaal</strong> Chemistry</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> --}}
        </div>
    </div>
</section>




														
														
						


{{> footer}} {{> script-page}}

<script>

    
    $(function() {
        if($('[data-tree]').length ) {

            var target_ = $('[data-tree]'),
                list_ = target_.find('li'),
                count_ = list_.length;

                target_.find('ul').hide();
              
                var themp1 = document.createElement("ul");
                var themp2 = document.createElement("ul");
                list_.each(function(index) {
                    

                    if(index < (count_/2)) {
                        themp1.append(this) ;
                    }else{
                        
                        themp2.append(this);
                    }

                  //  console.log(this_, index,(count_/2));
                })
                /*themp1.style.setProperty("--count", (count_/2));
                themp2.style.setProperty("--count", (count_/2));*/
               target_.append(themp1);
               target_.append(themp2);




        }
    })
    
</script>
