{{> header}}
{{> loader}}
{{> floating-social-media}}
{{> floating-search}}
{{> banner}}
<section class="home-section quotes_section" id="quotes">
  <div class="container">
    <div class="quotes_wrapper">
      <div class="image_box">
        {{!-- <div class="shape_" >
          <div class="img_ b-lazy" data-src="{{assets}}/images/quote_bg_dot.svg"  ></div>
        </div> --}}
          <div class="img_box">

              {{!-- <div class="inner_bg_">
                <span></span>
                <span></span>
              </div> --}} 

            <div class="img_ b-lazy" data-src="{{assets}}/images/abt_sh.png" data-extension="png" ></div>
          </div>
      </div>

      <div class="content_box">
          <div class="quotes_text_wrap">
            <div class="q_shape">
              <div class="img_ b-lazy" data-src="{{assets}}/images/quotes_.svg"  ></div>
            </div>
            <div class="title_">
              We call on you to explore initiatives that can help <strong>shape a new generation</strong> of UAE companies and create a great future for our industries
            </div>

            <div class="text_box dote_color">
              <p>We expect the UAE’s scientific community to play a key role in supporting the government’s development efforts. To sustain development supportive of our people’s happiness and creates a bright future for our children, we need to make sure that scientific and technical progress is supportive of this goal. We need to embrace the latest advancements across the globe and localise that knowledge.</p>

              <div class="btn_group start_">
                <a href="{{menuLink 'about-hh'}}" >
                  <a href="#letter_popup" data-fancybox="" data-modal-true=""  class="btn_new">
                    <span>Letter of H.H to the Science Community</span>
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>

    </div>
</section>


<div class="popup popup-small no-padding member_popup" id="letter_popup">
   <div class="popup-inner">   
       <div class="rgt_">
           <div class="rgt_hd">
               <h3>Her Excellency Sarah Bint Yousef Al Amiri</h3>
           </div>
           <div class="sub_head">
               <label>Minister of State for Advanced Technology</label>
               <span>Council Chairwoman</span>
           </div>
           <div class="text_box">
               <p>Her Excellency Sarah bint Yousif Al Amiri has been appointed as Minister of State
                for Advanced Technology in July 2020. Her Excellency has joined the Federal
                Government as Minister of State for Advanced Sciences during the Cabinet
                reshuffle of October 2017. Her responsibilities included enhancing the contributions
                of advanced sciences to the development of UAE and its economy</p>
                <p>Her Excellency is the Chairwoman of UAE Space Agency and the UAE Council of
                Scientists. She also holds the position of Emirates Mars Mission Deputy Project
                Manager at the Mohammed Bin Rashid Space Centre. Al Amiri started her career in
                sciences when she worked as Programs Engineer on Dubai Sat-1 and Dubai Sat-2.</p>
           </div>

       </div>       
    </div>
</div>


<section class="home-section about_section" id="about">
  <div class="container">
    <div class="about_wrapper_new">
      <div class="item_">
         <div class="title_box">
            <h2 class="section-title color_ text-center"><span>About Council</span></h2>
          </div>

           <div class="text_box dote_color">
              <p>The Emirates Scientists Council aims to create an environment conducive to innovation and scientific research in the country and raise the impact of scientific research by representing the scientific community nationally and internationally, attracting and building a generation of scientists in various scientific fields and stimulating cooperation between research institutions in all sectors (government, private and higher education).</p>

              <div class="btn_group start_">
                <a href="./about-council.html" class="btn_new" >
                    <span>Read More</span>
                </a>
              </div>
            </div>
      </div>

      <div class="item_">
        <div class="img_box">
          <div class="img_ b-lazy" data-src="{{assets}}/images/abt_nw.png"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section policies_section" id="policies">
  <div class="container">

    <div class="inner_sec">

      <div class="lf_">
        <div class="title_box">
          <h2 class="section-title"><span>MEMBERS</span></h2>
        </div>
        <div class="btn_wrap">
          <div class="nav_box">
            <div class="nav_ left_"><div class="icon icon-arrow-01-01-left"></div></div>
            <div class="nav_ right_"><div class="icon icon-arrow-01-01"></div></div>
          </div>
          <div class="btn_group">
            <a href="./members.html" class="btn_new" >
              <span>View More</span>
            </a>
          </div>
        </div>
      </div>

      <div class="policy_wrapper full_">
        

        <div class="content_box">
          <!-- Swiper -->
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide p_item_">
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="inner_ link_">
                  <div class="img_box">
                    <picture>
                        <source srcset="{{assets}}/images/members/member01.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member01.png" type="image/png">
                        <img src="{{assets}}/images/members/member01.png" loading="lazy" alt="">
                    </picture>
                    {{!-- <div class="img_ b-lazy" data-src="{{assets}}/images/HE-Sarah-AlAmiri.png" data-extension="jpg" ></div> --}}
                    <div class="hover_text">Read More</div>
                  </div>

                  <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                  </div>
                </a>
              </div>
              <div class="swiper-slide p_item_">
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="inner_ link_">
                  <div class="img_box">
                     <picture>
                        <source srcset="{{assets}}/images/members/member02.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member02.png" type="image/png">
                        <img src="{{assets}}/images/members/member02.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                  </div>

                  <div class="content_ text-center">
                    <p>H.E. Dr. Arif Sultan Al Hammadi</p>
                  </div>
                </a>
              </div>
              <div class="swiper-slide p_item_">
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="inner_ link_">
                  <div class="img_box">
                    <picture>
                        <source srcset="{{assets}}/images/members/member03.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member03.png" type="image/png">
                        <img src="{{assets}}/images/members/member03.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                  </div>

                  <div class="content_ text-center">
                    <p>Professor Ghaleb Al Hadrami Al Braiki</p>
                  </div>
                </a>
              </div>
              <div class="swiper-slide p_item_">
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="inner_ link_">
                  <div class="img_box">
                    <picture>
                        <source srcset="{{assets}}/images/members/member04.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member04.png" type="image/png">
                        <img src="{{assets}}/images/members/member04.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                  </div>

                  <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                  </div>
                </a>
              </div>

            </div>



          </div>
        </div>
      </div>
    </div>

  </div>
</section> 

<section class="home-section objectives_section" id="objectives">
  <div class="container">
    <div class="title_box text-center">
      <h2 class="section-title color_ "><span>Objectives</span></h2>
    </div>

    <div class="header-desc">
          <div class="text_box lg_"><p>Scientists and experts in their specific fields of science supporting/advising the federal government in matters related to science &amp; technology research and policy.</p>
      </div>
    </div>

    <div class="objective_wrapper">
      <div class="item_">
        <div class="icon_">
          <img data-src="{{assets}}/images/object_1.svg" alt="Objectives" class="b-lazy">
          <div class="hvr_wrap">
            <a href="#object_popup" data-fancybox="" data-modal-true=""  class="inner_ link_">
              <span>Readmore</span>
            </a>
          </div>
        </div>

        <h4>The Spirit of Exploration</h4>
      </div>

      <div class="item_">
        <div class="icon_">
          <img data-src="{{assets}}/images/object_2.svg" alt="Objectives" class="b-lazy">
        </div>

        <h4>Scientists for the Future of UAE</h4>
      </div>

      <div class="item_">
        <div class="icon_">
          <img data-src="{{assets}}/images/object_3.svg" alt="Objectives" class="b-lazy">
        </div>

        <h4>Knowledge-intensive Industry</h4>
      </div>
    </div>

    {{!-- <div class="btn_group">
      <a href="{{menuLink 'about-hh'}}" class="btn_new" >
        <span>Read More</span>
      </a>
    </div> --}}
  </div>
</section>

{{!-- <section class="home-section about_section" id="about">

  <div class="bg_dna">
    <div class="img_ b-lazy" data-src="{{assets}}/images/dna.svg" ></div>
  </div>
  <div class="container">
     <div class="title_box  text-center">
            <h2 class="section-title color_ text-center"><span>Aims</span></h2>
          </div>
      <div class="about_wrapper">

        <div class="intro_box">

           <div class="text_box lg_"><p>Improve the outcomes of the science and technology ecosystem in the UAE that creates economic value from knowledge and addresses national challenges</p>
        </div>
       </div>
       <div class="content_box">
          <div class="text_box dote_color">
              <p> Develop the UAE’s talent base in science and technology to compete in the global arena</p>



            </div>
       </div>

      </div>

          <div class="more-wrap p_top_50 text-center">
                <a href="{{menuLink 'about-the-office'}}" class="more_" >
                  <span data-text="Read More">
                    <span>Read More</span>
                  </span>
                </a>
              </div>


   </div>
</section> --}}

{{!-- <section class="home-section scientific_priorities" id="scientific-priorities">


  <div class="container">
     <div class="title_box  text-center">
            <h2 class="section-title   text-center"><span>Scientific <br>Priorities</span></h2>
       </div>
      <div class="header-desc">
           <div class="text_box lg_"><p>To achieve the UAE’s centennial plan 2071,the Advanced Sciences agenda will focus on
8 scientifcpriorities and 3 consecutive strategies starting with 2018-2021 which is the frst phase
of the ecosystem in the country.</p>
        </div>
      </div>

      <div class="content-wrapper box-list">


        <div class="sp-box">
            <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                      </div>
          <div class="box-img">
          <img class="_normal" src="assets/images/hand.svg">
          <img class="_hover" src="assets/images/hand-white.svg">
          </div>

          <p>Developing arid and urban food science and systems</p>
        </div>
        <div class="sp-box">
           <div class="shape_">
                 <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
             </div>
               <div class="box-img">
          <img class="_normal" src="assets/images/water.svg">
          <img class="_hover" src="assets/images/water-white.svg">
          </div>


          <p>Pursuing cleaner water solutions</p>
        </div>
        <div class="sp-box">
           <div class="shape_">
                 <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
             </div>
                <div class="box-img">
                    <img class="_normal" src="assets/images/energy.svg">
                    <img class="_hover" src="assets/images/energy-white.svg">
                </div>
          <p>Pursuing cleaner water solutions</p>
        </div>
        <div class="sp-box">
           <div class="shape_">
                 <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
             </div>

             <div class="box-img">
                    <img class="_normal" src="assets/images/resources.svg">
                    <img class="_hover" src="assets/images/resources-white.svg">
                </div>


          <p>Pursuing cleaner water solutions</p>
        </div>
        <div class="sp-box">
            <div class="shape_">
                 <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
             </div>

             <div class="box-img">
                    <img class="_normal" src="assets/images/developing.svg">
                    <img class="_hover" src="assets/images/developing-white.svg">
                </div>

          <p>Pursuing cleaner water solutions</p>
        </div>
        <div class="sp-box">
           <div class="shape_">
                 <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
             </div>

                 <div class="box-img">
                    <img class="_normal" src="assets/images/logistic.svg">
                    <img class="_hover" src="assets/images/logistic-white.svg">
                </div>


          <p>Pursuing cleaner water solutions</p>
        </div>
        <div class="sp-box">
           <div class="shape_">
                 <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
             </div>
               <div class="box-img">
                    <img class="_normal" src="assets/images/manufactoring.svg">
                    <img class="_hover" src="assets/images/manufactoring-white.svg">
                </div>

          <p>Pursuing cleaner water solutions</p>
        </div>
        <div class="sp-box">
           <div class="shape_">
                 <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
             </div>

                <div class="box-img">
                    <img class="_normal" src="assets/images/health.svg">
                    <img class="_hover" src="assets/images/health-white.svg">
                </div>

          <p>Pursuing cleaner water solutions</p>
        </div>

      </div>
   </div>
</section> --}}


{{!-- <section class="home-section counncils_section" id="councils">


  <div class="container">
     <div class="title_box  text-center">
            <h2 class="section-title  text-center"><span>Councils</span></h2>
          </div>
      <div class="councils_wrapper ">

      <div class="swiper-container council-swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide ">
            <div class="image-wrapper">
                <div class="img-slide" style="background-image: url(assets/images/irc.jpg);"></div>
                  <img class="hover-image" src="assets/images/revolution-logo.png">
            </div>
            <p>Emirates Scientist council</p>
          </div>

          <div class="swiper-slide ">
            <div class="image-wrapper">
                <div class="img-slide" style="background-image: url(assets/images/ec.jpg);"></div>
                <img class="hover-image" src="assets/images/revolution-logo.png">
            </div>
            <p>4th industrial revolution council</p>
          </div>



        </div>
        <div class="swiper-pagination"></div>
      </div>

      </div>




   </div>
</section> --}}

<section class="home-section mandate_section" id="mandate">
  <div class="container">
     <div class="title_box text-center">
        <h2 class="section-title "><span>MANDATE</span></h2>
      </div>
    <div class="mandate_wrapper grid_">

      <div class="item_">
        <div class="no_">01</div>
        <div class="text_">Propose policies aiming to create an environment conducive to innovation and scientific research that supports attracting and building a generation of scientists in various scientific fields.</div>
      </div>

      <div class="item_">
        <div class="no_">02</div>
        <div class="text_">Provide scientific advisory for the UAE Cabinet</div>
      </div>

      <div class="item_">
        <div class="no_">03</div>
        <div class="text_">Provide scientific advisory for the UAE Cabinet</div>
      </div>

       <div class="item_">
        <div class="no_">04</div>
        <div class="text_">Provide scientific advisory for the UAE Cabinet</div>
      </div>

      <div class="item_">
        <div class="no_">05</div>
        <div class="text_">Provide scientific advisory for the UAE Cabinet</div>
      </div>

       <div class="item_">
        <div class="no_">06</div>
        <div class="text_">Provide scientific advisory for the UAE Cabinet</div>
      </div>

      <div class="item_">
        <div class="no_">07</div>
        <div class="text_">Provide scientific advisory for the UAE Cabinet</div>
      </div>

       <div class="item_">
        <div class="no_">08</div>
        <div class="text_">Provide scientific advisory for the UAE Cabinet</div>
      </div>

      {{!-- <div class="mandate_swiper">
        <div class="swiper-container">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="item_">
                <div class="no_">01</div>
                <div class="text_">Propose policies aiming to create an environment conducive to innovation and scientific research that supports attracting and building a generation of scientists in various scientific fields.</div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="item_">
                <div class="no_">02</div>
                <div class="text_">Provide scientific advisory for the UAE Cabinet</div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="item_">
                <div class="no_">03</div>
                <div class="text_">Propose policies aiming to create an environment conducive to innovation and scientific research that supports attracting.</div>
              </div>
            </div>

             <div class="swiper-slide">
              <div class="item_">
                <div class="no_">04</div>
                <div class="text_">Scientific research that supports attracting and building a generation of scientists in various scientific fields.</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="mandate_nav">
        <div class="nav_box">
          <div class="nav_ left_"><div class="icon icon-arrow-01-01-left"></div></div>
          <div class="nav_ right_"><div class="icon icon-arrow-01-01"></div></div>
        </div>
        <div class="btn_group start_">
          <a href="#" class="btn_new " >
            <span>View More</span>
          </a>
        </div>
      </div> --}}
    </div>
  </div>
</section>

<section class="home-section scientific_priorities" id="advisory">


  <div class="container">
     <div class="title_box  text-center">
            <h2 class="section-title color_ text-center"><span>Advisory Boards</span></h2>
       </div>
      <div class="header-desc">
           <div class="text_box lg_"><p>Scientists and experts in their specific fields of science supporting/advising the federal government in matters related to science & technology research and policy.</p>
        </div>
      </div>

      <div class="advisory_wrapper">
        
        <div class="item_">
          <div class="img_box">
            <div class="img_ b-lazy" data-src="{{assets}}/images/advisory_1.png"></div>
          </div>
          <h4>Natural sciences</h4>
        </div>

        <div class="item_">
          <div class="img_box">
            <div class="img_ b-lazy" data-src="{{assets}}/images/advisory_2.png"></div>
          </div>
          <h4>Engineering and technology</h4>
        </div>

        <div class="item_">
          <div class="img_box">
            <div class="img_ b-lazy" data-src="{{assets}}/images/advisory_3.png"></div>
          </div>
          <h4>Health and Medical Sciences</h4>
        </div>

      </div>
      <div class="btn_group">
        <a href="./advisory-boards.html" class="btn_new" > 
          <span>Read More</span>
        </a>
      </div>
   </div>
</section> 


<section class="home-section initiatives_section" id="initiatives">
  <div class="container">
      <div class="title_box  text-center">
        <h2 class="section-title"><span>Initiatives/Reports</span></h2>
      </div>
    <div class="initiatives_wrapper">
         <!-- Swiper -->
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide init_item_ styl_1 box-1">
                  <div class="inner_">
                    <div class="image_box">
                      <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                          <div class="number_ color_">01</div>
                      </div>
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/init_img_1.webp" data-extension="jpg" ></div>
                            {{!-- <div class="hover_logo">
                                <div class="img_ b-lazy" data-src="{{assets}}/images/init_logo.svg" ></div>
                            </div> --}}
                        </div>
                    </div>

                    <div class="content_box">
                      <div class="title_">01Podcast
                        {{!-- <h5>For the science community</h5> --}}
                      </div>
                      <div class="more-wrap ">
                        <a href="./podcast.html" class="btn_new" >
                          <span>Read More</span>
                        </a>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide init_item_ styl_2 box-2">
                  <div class="inner_">
                    <div class="image_box">
                      <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                          <div class="number_">02</div>
                      </div>
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/init_img_2.webp" data-extension="jpg" ></div>
                            {{!-- <div class="hover_logo">
                                <div class="img_ b-lazy" data-src="{{assets}}/images/init_logo.svg" ></div>
                            </div> --}}
                        </div>
                    </div>

                    <div class="content_box">
                      <div class="title_">02Science in progress
                      </div>

                      <div class="more-wrap ">
                        <a href="./scientist-residence.html" class="btn_new" >
                          <span>Read More</span>
                        </a>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide init_item_ styl_1 box-1">
                  <div class="inner_">
                    <div class="image_box">
                      <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                          <div class="number_">03</div>
                      </div>
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/init_img_2.webp" data-extension="jpg" ></div>
                            {{!-- <div class="hover_logo">
                                <div class="img_ b-lazy" data-src="{{assets}}/images/init_logo.svg" ></div>
                            </div> --}}
                        </div>
                    </div>

                    <div class="content_box">
                      <div class="title_">03Science in progress
                      </div>

                      <div class="more-wrap ">
                        <a href="./scientist-residence.html" class="btn_new" >
                          <span>Read More</span>
                        </a>
                      </div>
                    </div>
                  </div>
              </div>
              

            </div>
          </div>
          <!-- Add Arrows -->
            <div class="nav_box box_center_">
              <div class="nav_ left_"><div class="icon icon-arrow-01-01-left"></div></div>
              <div class="nav_ right_"><div class="icon icon-arrow-01-01"></div></div>
            </div>
      </div>
  </div>
</section>


<!--
<section class="home-section members_section" id="members">
  <div class="container-fluid">
      <div class="title_box  ">
        <h2 class="section-title "><span>Members</span></h2>
      </div>
      <div class="members_wrapper">

            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide item_ styl_1">
                  <div class="inner_">
                   <div class="image_box">
                      <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                      </div>
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/member_img_1.webp" data-extension="jpg" ></div>
                            <div class="hover_box">
                               <div class="text_box">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum bibendum tortor, eget iaculis ante convallis eu.</p>
                               </div>
                               <div class="more_wrap">
                                 <a href="#" class="link_"><span>Read More</span></a>
                               </div>
                            </div>
                        </div>


                    </div>
                      <div class="content_box">
                          <div class="title_">Sarah bint yousif al amiri</div>
                        </div>
                  </div>
                </div>
                <div class="swiper-slide item_ styl_2">
                  <div class="inner_">
                   <div class="image_box">
                      <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                      </div>
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/member_img_2.webp" data-extension="jpg" ></div>
                            <div class="hover_box">
                               <div class="text_box">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum bibendum tortor, eget iaculis ante convallis eu.</p>
                               </div>
                               <div class="more_wrap">
                                 <a href="#" class="link_"><span>Read More</span></a>
                               </div>
                            </div>
                        </div>

                    </div>

                        <div class="content_box">
                          <div class="title_">Name 01 Here</div>
                        </div>
                  </div>
                </div>
                <div class="swiper-slide item_ styl_3">
                  <div class="inner_">
                   <div class="image_box">
                      <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                      </div>
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/member_img_3.webp" data-extension="jpg" ></div>
                            <div class="hover_box">
                               <div class="text_box">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum bibendum tortor, eget iaculis ante convallis eu.</p>
                               </div>
                               <div class="more_wrap">
                                 <a href="#" class="link_"><span>Read More</span></a>
                               </div>
                            </div>
                        </div>


                    </div>
                      <div class="content_box">
                          <div class="title_">Name 02 Here</div>
                        </div>
                  </div>
                </div>
                <div class="swiper-slide item_ styl_1">
                  <div class="inner_">
                   <div class="image_box">
                      <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                      </div>
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/member_img_1.webp" data-extension="jpg" ></div>
                            <div class="hover_box">
                               <div class="text_box">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum bibendum tortor, eget iaculis ante convallis eu.</p>
                               </div>
                               <div class="more_wrap">
                                 <a href="#" class="link_"><span>Read More</span></a>
                               </div>
                            </div>
                        </div>


                    </div>
                      <div class="content_box">
                          <div class="title_">Sarah bint yousif al amiri</div>
                        </div>
                  </div>
                </div>
                <div class="swiper-slide item_ styl_2">
                  <div class="inner_">
                   <div class="image_box">
                      <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                      </div>
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/member_img_2.webp" data-extension="jpg" ></div>
                            <div class="hover_box">
                               <div class="text_box">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum bibendum tortor, eget iaculis ante convallis eu.</p>
                               </div>
                               <div class="more_wrap">
                                 <a href="#" class="link_"><span>Read More</span></a>
                               </div>
                            </div>
                        </div>

                    </div>

                        <div class="content_box">
                          <div class="title_">Name 01 Here</div>
                        </div>
                  </div>
                </div>
                <div class="swiper-slide item_ styl_3">
                  <div class="inner_">
                   <div class="image_box">
                      <div class="shape_">
                          <div class="img_ b-lazy" data-src="{{assets}}/images/triangle_dots.png" ></div>
                      </div>
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/member_img_3.webp" data-extension="jpg" ></div>
                            <div class="hover_box">
                               <div class="text_box">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum bibendum tortor, eget iaculis ante convallis eu.</p>
                               </div>
                               <div class="more_wrap">
                                 <a href="#" class="link_"><span>Read More</span></a>
                               </div>
                            </div>
                        </div>


                    </div>
                      <div class="content_box">
                          <div class="title_">Name 02 Here</div>
                        </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="nav_box box_center_">
                <div class="nav_ left_"><div class="icon icon-arrow-01-01-left"></div></div>
                <div class="nav_ right_"><div class="icon icon-arrow-01-01"></div></div>
              </div>
      </div>
      <div class="more-wrap  p_top_50 text-center">
          <a href="#" class="more_" >
            <span data-text="View All">
              <span>View All</span>
            </span>
          </a>
        </div>
  </div>
</section>  -->
<section class="home-section news_section" id="news">
  <div class="container">
      <div class="title_box text-center">
        <h2 class="section-title color_"><span>News/Updates</span></h2>
      </div>

      <div class="filter-box">
          <select>
              <option value="news">News</option>
              <option value="video">Videos</option>
          </select>
      </div>

       <div class="news_wrapper">
         <!-- Swiper -->
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide news_item ">
                <div class="inner_">
                  <a href="{{assets}}/images/news_img_1.webp" data-fancybox class="img_box">
                     <div class="img_ b-lazy" data-src="{{assets}}/images/news_img_1.webp" data-extension="jpg" ></div>
                  </a>
                  <a href="./news-detail.html" class="content_box">
                    <div class="tag_">
                      <span>News</span>
                    </div>
                    <div class="text_box">
                      <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="date_wrap">
                      <div class="date_">02</div>
                      <div class="yar_"><span>Mar 2020</span></div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="swiper-slide news_item ">
                <div class="inner_">
                  <a href="{{assets}}/images/news_n_1.jpg" data-fancybox class="img_box">
                     <div class="img_ b-lazy" data-src="{{assets}}/images/news_n_1.jpg" data-extension="jpg" ></div>
                  </a>
                  <a href="./news-detail.html" class="content_box">
                    <div class="tag_">
                      <span>Press Release</span>
                    </div>
                    <div class="text_box">
                      <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="date_wrap">
                      <div class="date_">02</div>
                      <div class="yar_">
                        <span>Mar 2020</span></div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="swiper-slide news_item ">
                <div class="inner_">
                  <a href="https://www.youtube.com/embed/T4q0WS0gxRY" data-fancybox class="img_box">
                     <div class="img_ b-lazy" data-src="{{assets}}/images/news_n_2.jpg" data-extension="jpg" ></div>
                     <div class="hover_icon">
                       <div class="icon icon-icons-play"></div>
                     </div>
                  </a>
                  <a href="./news-detail.html" class="content_box">
                    <div class="tag_">
                      <span>Video</span>
                    </div>
                    <div class="text_box">
                      <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="date_wrap">
                      <div class="date_">02</div>
                      <div class="yar_"><span>Mar 2020</span></div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="swiper-slide news_item ">
                <div class="inner_">
                  <a href="{{assets}}/images/news_img_2.webp" data-fancybox class="img_box">
                     <div class="img_ b-lazy" data-src="{{assets}}/images/news_img_2.webp" data-extension="jpg" ></div>
                  </a>
                  <a href="./news-detail.html" class="content_box">
                    <div class="tag_">
                      <span>Press Release</span>
                    </div>
                    <div class="text_box">
                      <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="date_wrap">
                      <div class="date_">02</div>
                      <div class="yar_"><span>Mar 2020</span></div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="swiper-slide news_item ">
                <div class="inner_">
                  <a href="{{assets}}/images/news_n_3.jpg" data-fancybox class="img_box">
                     <div class="img_ b-lazy" data-src="{{assets}}/images/news_n_3.jpg" data-extension="jpg" ></div>
                      <div class="hover_icon">
                       <div class="icon icon-icons-play"></div>
                     </div>
                  </a>
                  <a href="./news-detail.html" class="content_box">
                    <div class="tag_">
                      <span>News</span>
                    </div>
                    <div class="text_box">
                      <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="date_wrap">
                      <div class="date_">02</div>
                      <div class="yar_"><span>Mar 2020</span></div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="swiper-slide news_item ">
                <div class="inner_">
                  <a href="{{assets}}/images/news_n_4.jpg" data-fancybox class="img_box">
                     <div class="img_ b-lazy" data-src="{{assets}}/images/news_n_4.jpg" data-extension="jpg" ></div>
                  </a>
                  <a href="./news-detail.html" class="content_box">
                    <div class="tag_">
                      <span>Press Release</span>
                    </div>
                    <div class="text_box">
                      <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="date_wrap">
                      <div class="date_">02</div>
                      <div class="yar_">
                        <span>Mar 2020</span></div>
                    </div>
                  </a>

                </div>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
            <div class="nav_box">
              <div class="nav_ left_"><div class="icon icon-arrow-01-01-left"></div></div>
              <div class="nav_ right_"><div class="icon icon-arrow-01-01"></div></div>
            </div>
       </div>
        <div class="more-wrap btn_group p_top_50 text-center">
          <a href="./news.html" class="btn_new" >
              <span>View All</span>
          </a>
        </div>
  </div>
  </section>
<section class="home-section contact_section" id="contact">
  <div class="container-fluid">
      <div class="title_box text-center">
        <h2 class="section-title"><span>Contact us</span></h2>
      </div>
    <div class="map_wrapper">

      {{!-- <div class="map_img_box">
        <div class="img_ b-lazy" data-src="{{assets}}/images/map.webp" data-extension="jpg" ></div>
        <div class="map_location">
          <a href="#" target="_blank">
            <div class="map_pin_img">
              <div class="img_ b-lazy" data-src="{{assets}}/images/map_pin.webp" data-extension="jpg" ></div>
            </div>
          </a>
        </div>
      </div> --}}

      <div class="contact_list_box">
        <ul>
          <li>
            <div class="icon_box">
              <div class="icon icon-phone"></div>
            </div>
            <div class="details_box">
              <div class="meta_title">Phone</div>
              <div class="meta_value"><a href="mob:+971 4 318 9212" target="_blank"> +971 4 318 9212</a></div>
            </div>
          </li>
          <li>
            <div class="icon_box">
              <div class="icon icon-mail-01"></div>
            </div>
            <div class="details_box">
              <div class="meta_title">Email</div>
              <div class="meta_value"><a href="mailto:+971 4 318 9212" target="_blank"> info@science.gov.ae</a></div>
            </div>
          </li>
          <li>
            <div class="icon_box">
              <div class="icon icon-location"></div>
            </div>
            <div class="details_box">
              <div class="meta_title">Location</div>
              <div class="meta_value">PO Box 72127, Sheik Zayed Road Dubai, UAE</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="popup popup-small no-padding member_popup" id="member_popup">
   <div class="popup-inner">   
       <div class="lf_">
           <div class="img_wrap">
                <picture>
                    <source srcset="{{assets}}/images/members/member01.png" type="image/webp">
                    <source srcset="{{assets}}/images/members/member01.png" type="image/png">
                    <img src="{{assets}}/images/members/member01.png" loading="lazy" alt="">
                </picture>
            </div> 
       </div>
       <div class="rgt_">
           <div class="rgt_hd">
               <h3>Her Excellency Sarah Bint Yousef Al Amiri</h3>
           </div>
           <div class="sub_head">
               <label>Minister of State for Advanced Technology</label>
               <span>Council Chairwoman</span>
           </div>
           <div class="text_box">
               <p>Her Excellency Sarah bint Yousif Al Amiri has been appointed as Minister of State
                for Advanced Technology in July 2020. Her Excellency has joined the Federal
                Government as Minister of State for Advanced Sciences during the Cabinet
                reshuffle of October 2017. Her responsibilities included enhancing the contributions
                of advanced sciences to the development of UAE and its economy</p>
                <p>Her Excellency is the Chairwoman of UAE Space Agency and the UAE Council of
                Scientists. She also holds the position of Emirates Mars Mission Deputy Project
                Manager at the Mohammed Bin Rashid Space Centre. Al Amiri started her career in
                sciences when she worked as Programs Engineer on Dubai Sat-1 and Dubai Sat-2.</p>
           </div>

       </div>       
    </div>
</div>


<div class="popup popup-small no-padding member_popup" id="object_popup">
   <div class="popup-inner">   
       <div class="rgt_">
           <div class="rgt_hd">
               <h3>Title</h3>
           </div>
           <div class="text_box">
               <p>Her Excellency Sarah bint Yousif Al Amiri has been appointed as Minister of State
                for Advanced Technology in July 2020. Her Excellency has joined the Federal
                Government as Minister of State for Advanced Sciences during the Cabinet
                reshuffle of October 2017. Her responsibilities included enhancing the contributions
                of advanced sciences to the development of UAE and its economy</p>
                <ul>
                  <li>
                    <p>Her Excellency Sarah bint Yousif Al Amiri has been appointed as Minister of State</p>
                  </li>
                  <li>
                    <p>Her Excellency Sarah bint Yousif Al Amiri has been appointed as Minister of State</p>
                  </li>
                  <li>
                    <p>Her Excellency Sarah bint Yousif Al Amiri has been appointed as Minister of State</p>
                  </li>
                </ul>
           </div>

       </div>       
    </div>
</div>

{{> script-home}}
{{> footer}}
