{{> header}}
{{> loader}}
{{> floating-search}}

<section class="page-section parad_sers_pge">
  <div class="breadCrumbWrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="current"><a href="#">PARADIGM SERIES</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="title_box">
      <div class="title_box text-center">
          <h2 class="section-title"><span>PARADIGM SERIES</span></h2>
      </div>
    </div>
  </div>
</section>

<section class="page-section parad_sec no_padd_top">
    <div class="container small_">
        <div class="inner_">
            <div class="text_box text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum, tortor vel tincidunt sodales, leo lacus vestibulum sem, sit amet rhoncus tortor neque a lectus. Mauris ultricies felis non diam pretium accumsan. In a mauris enim. Sed ut neque tellus.</p>
                <p>Vestibulum convallis nibh augue, ac egestas velit dictum semper. Integer eget finibus ipsum. Donec mollis sit amet nisi a imperdiet.</p>
            </div>
            <div class="img_box_">
                <div class="inn_">
                    <div class="img_wrap">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/podcast2.png"></div>
                    </div>
                    <div class="text_">PARADIGM SERIES</div>
                </div>
            </div>
            <div class="text_box text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum, tortor vel tincidunt sodales, leo lacus vestibulum sem, sit amet rhoncus tortor neque a lectus. Mauris ultricies felis non diam pretium accumsan. In a mauris enim. Sed ut neque tellus.</p>
                <p>Vestibulum convallis nibh augue, ac egestas velit dictum semper. Integer eget finibus ipsum. Donec mollis sit amet nisi a imperdiet.</p>
            </div>
        </div>
    </div>
</section>


<section class="page-section parad_slider">
    <div class="container">
        <div class="inner_">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <div class="box_">
                            <div class="img_wrap">
                                <picture>
                                    <source srcset="{{assets}}/images/paradigm1.png" type="image/webp">
                                    <source srcset="{{assets}}/images/paradigm1.png" type="image/png">
                                    <img src="{{assets}}/images/paradigm1.png" loading="lazy" alt="">
                                </picture>
                            </div>  
                            <div class="text_">Lorem Ipsum is simply dummy text</div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="box_">
                            <div class="img_wrap">
                                <picture>
                                    <source srcset="{{assets}}/images/paradigm2.png" type="image/webp">
                                    <source srcset="{{assets}}/images/paradigm2.png" type="image/png">
                                    <img src="{{assets}}/images/paradigm2.png" loading="lazy" alt="">
                                </picture>
                            </div>  
                            <div class="text_">Lorem Ipsum is simply dummy text</div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="box_">
                            <div class="img_wrap">
                                <picture>
                                    <source srcset="{{assets}}/images/paradigm3.png" type="image/webp">
                                    <source srcset="{{assets}}/images/paradigm3.png" type="image/png">
                                    <img src="{{assets}}/images/paradigm3.png" loading="lazy" alt="">
                                </picture>
                            </div>  
                            <div class="text_">Lorem Ipsum is simply dummy text</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav_box">
              <div class="nav_ left_"><div class="icon icon-arrow-01-01-left"></div></div>
              <div class="nav_ right_"><div class="icon icon-arrow-01-01"></div></div>
            </div>
        </div>
    </div>
</section>



{{> footer}} {{> script-page}}

