{{> header}}
{{> loader}}
{{> floating-search}}

<section class="page-section initiatives_page">
  <div class="breadCrumbWrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Initiatives     </a></li>
      <li class="current"><a href="#">Scientist in 
Residence</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="title_box">
      <div class="title_box text-center">
          <h2 class="section-title"><span>Scientist in 
Residence</span></h2>
      </div>
    </div>

    <div class="inner_">
      <div class="links_dv">
          <ul>
              <li>
                  <a href="#"><i class="icon_"> <img src="{{assets}}/images/community-icon.svg"/> </i>
                  <p> For Students</p></a>
              </li>
              <li>
                  <a href="#"><i class="icon_"> <img src="{{assets}}/images/website-icon.svg"/> </i>
                  <p> Visit Website </p></a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</section>

<section class="page-section opn_lb_page_content conetnt_box">
    <div class="container">
        <div class="inner_">
            <div class="rgt_">
                <div class="text_box text-center">
                    <p>The Mohammed bin Rashid Academy of Scientists is the primary body representing the UAE's science community. Composed of the UAE’s top researchers from several institutions in the country, with expertise in the fields of natural sciences, engineering and health and medical sciences, MBRAS aims to establish a link between the science community, government and industry through supporting evidence-based policies, solutions to challenges, and creating opportunities.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section objctvs_sec">
    <div class="container">
        <div class="sub_head text-center">
            <h3><span>Objectives</span></h3> 
        </div>
        <div class="inner_">
            <ul>
                <li>
                    <span>01</span>
                    <div class="text_box">
                        <p>Broaden the impact of the UAE scientific community</p>
                    </div>
                </li>
                 <li>
                    <span>02</span>
                    <div class="text_box">
                        <p>Activate the role of scientists in the UAE’s development process</p>
                    </div>
                </li>
                 <li>
                    <span>03</span>
                    <div class="text_box">
                        <p>Provide advice to government entities on the best policies that can be adopted in science, engineering and health sciences</p>
                    </div>
                </li>
                 <li>
                    <span>04</span>
                    <div class="text_box">
                        <p>Shape the future of scientific and technological advancement.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>



<section class="page-section init_member">
    <div class="container">
            <div class="title_box">
                <div class="title_box text-center">
                    <h2 class="section-title"><span>Members</span></h2>
                </div>
                </div>
        <div class="inner_">
           <div class="container-inner">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member01.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member01.png" type="image/png">
                        <img src="{{assets}}/images/members/member01.png" loading="lazy" alt="">
                    </picture>
                </div>

                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div>

            </div>
            <div class="round_">

            </div>
        </div>
    </div>
</section>




{{> footer}} {{> script-page}}

