{{> header_ar}}
{{> loader}}


<section class="page-section member_page">
  <div class="breadCrumbWrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="current"><a href="#">Members</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="title_box">
      <div class="title_box text-center">
          <h2 class="section-title"><span>Members</span></h2>
      </div>
    </div>
  </div>
</section>

<section class="page-section no_padd_top member_page_sec">
    <div class="container">
        <div class="inner_">
            <div class="member_box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member01.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member01.png" type="image/png">
                        <img src="{{assets}}/images/members/member01.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                </div> 
                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div> 
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="link_"></a>
            </div>
            <div class="member_box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member02.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member02.png" type="image/png">
                        <img src="{{assets}}/images/members/member02.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                </div> 
                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div> 
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="link_"></a>
            </div>
            <div class="member_box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member03.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member03.png" type="image/png">
                        <img src="{{assets}}/images/members/member03.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                </div> 
                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div> 
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="link_"></a>
            </div>
            <div class="member_box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member04.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member04.png" type="image/png">
                        <img src="{{assets}}/images/members/member04.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                </div> 
                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div> 
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="link_"></a>
            </div>
            <div class="member_box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member05.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member05.png" type="image/png">
                        <img src="{{assets}}/images/members/member05.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                </div> 
                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div> 
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="link_"></a>
            </div>
            <div class="member_box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member06.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member06.png" type="image/png">
                        <img src="{{assets}}/images/members/member06.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                </div> 
                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div> 
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="link_"></a>
            </div>
            <div class="member_box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member06.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member06.png" type="image/png">
                        <img src="{{assets}}/images/members/member06.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                </div> 
                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div> 
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="link_"></a>
            </div>
            <div class="member_box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member07.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member07.png" type="image/png">
                        <img src="{{assets}}/images/members/member07.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                </div> 
                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div> 
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="link_"></a>
            </div>
            <div class="member_box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/members/member08.png" type="image/webp">
                        <source srcset="{{assets}}/images/members/member08.png" type="image/png">
                        <img src="{{assets}}/images/members/member08.png" loading="lazy" alt="">
                    </picture>
                    <div class="hover_text">Read More</div>
                </div> 
                <div class="content_ text-center">
                    <p>Her Excellency Sarah Bint Yousef Al Amiri</p>
                </div> 
                <a href="#member_popup" data-fancybox="" data-modal-true=""  class="link_"></a>
            </div>
                    
        
        </div>
    </div>
</section>


<div class="popup popup-small no-padding member_popup" id="member_popup">
   <div class="popup-inner">   
       <div class="lf_">
           <div class="img_wrap">
                <picture>
                    <source srcset="{{assets}}/images/members/member01.png" type="image/webp">
                    <source srcset="{{assets}}/images/members/member01.png" type="image/png">
                    <img src="{{assets}}/images/members/member01.png" loading="lazy" alt="">
                </picture>
            </div> 
       </div>
       <div class="rgt_">
           <div class="rgt_hd">
               <h3>Her Excellency Sarah Bint Yousef Al Amiri</h3>
           </div>
           <div class="sub_head">
               <label>Minister of State for Advanced Technology</label>
               <span>Council Chairwoman</span>
           </div>
           <div class="text_box">
               <p>Her Excellency Sarah bint Yousif Al Amiri has been appointed as Minister of State
                for Advanced Technology in July 2020. Her Excellency has joined the Federal
                Government as Minister of State for Advanced Sciences during the Cabinet
                reshuffle of October 2017. Her responsibilities included enhancing the contributions
                of advanced sciences to the development of UAE and its economy</p>
                <p>Her Excellency is the Chairwoman of UAE Space Agency and the UAE Council of
                Scientists. She also holds the position of Emirates Mars Mission Deputy Project
                Manager at the Mohammed Bin Rashid Space Centre. Al Amiri started her career in
                sciences when she worked as Programs Engineer on Dubai Sat-1 and Dubai Sat-2.</p>
           </div>

       </div>       
    </div>
</div>

														
														
						


{{> footer_ar}} {{> script-page}}

