{{> header_ar}}
{{> loader}}


<section class="page-section news_page">
  <div class="breadCrumbWrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="current"><a href="#">News/Updates</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="title_box">
      <div class="title_box text-center">
          <h2 class="section-title"><span>News/Updates</span></h2>
      </div>
    </div>
  </div>
</section>

<section class="page-section no_padd_top news_page_sec">
  <div class="container">
    <div class="inner_">
            <div class="news_wrapper">
            <!-- Swiper -->
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide news_item ">
                    <div class="inner_">
                      <a href="{{assets}}/images/news_img_1.webp" data-fancybox class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/news_img_1.webp" data-extension="jpg" ></div>
                      </a>
                      <a href="" class="content_box">
                        <div class="tag_">
                          <span>News</span>
                        </div>
                        <div class="text_box">
                          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="date_wrap">
                          <div class="date_">02</div>
                          <div class="yar_"><span>Mar 2020</span></div>
                        </div>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide news_item ">
                    <div class="inner_">
                      <a href="{{assets}}/images/news_n_1.jpg" data-fancybox class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/news_n_1.jpg" data-extension="jpg" ></div>
                      </a>
                      <a href="#" class="content_box">
                        <div class="tag_">
                          <span>Press Release</span>
                        </div>
                        <div class="text_box">
                          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="date_wrap">
                          <div class="date_">02</div>
                          <div class="yar_">
                            <span>Mar 2020</span></div>
                        </div>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide news_item ">
                    <div class="inner_">
                      <a href="https://www.youtube.com/embed/T4q0WS0gxRY" data-fancybox class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/news_n_2.jpg" data-extension="jpg" ></div>
                        <div class="hover_icon">
                          <div class="icon icon-icons-play"></div>
                        </div>
                      </a>
                      <a herf="#" class="content_box">
                        <div class="tag_">
                          <span>Video</span>
                        </div>
                        <div class="text_box">
                          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="date_wrap">
                          <div class="date_">02</div>
                          <div class="yar_"><span>Mar 2020</span></div>
                        </div>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide news_item ">
                    <div class="inner_">
                      <a href="{{assets}}/images/news_img_2.webp" data-fancybox class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/news_img_2.webp" data-extension="jpg" ></div>
                      </a>
                      <a href="#" class="content_box">
                        <div class="tag_">
                          <span>Press Release</span>
                        </div>
                        <div class="text_box">
                          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="date_wrap">
                          <div class="date_">02</div>
                          <div class="yar_"><span>Mar 2020</span></div>
                        </div>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide news_item ">
                    <div class="inner_">
                      <a href="{{assets}}/images/news_n_3.jpg" data-fancybox class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/news_n_3.jpg" data-extension="jpg" ></div>
                          <div class="hover_icon">
                          <div class="icon icon-icons-play"></div>
                        </div>
                      </a>
                      <a href="" class="content_box">
                        <div class="tag_">
                          <span>News</span>
                        </div>
                        <div class="text_box">
                          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="date_wrap">
                          <div class="date_">02</div>
                          <div class="yar_"><span>Mar 2020</span></div>
                        </div>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide news_item ">
                    <div class="inner_">
                      <a href="{{assets}}/images/news_n_4.jpg" data-fancybox class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/news_n_4.jpg" data-extension="jpg" ></div>
                      </a>
                      <a href="#" class="content_box">
                        <div class="tag_">
                          <span>Press Release</span>
                        </div>
                        <div class="text_box">
                          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="date_wrap">
                          <div class="date_">02</div>
                          <div class="yar_">
                            <span>Mar 2020</span></div>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Add Arrows -->
                <div class="nav_box">
                  <div class="nav_ left_"><div class="icon icon-arrow-01-01-left"></div></div>
                  <div class="nav_ right_"><div class="icon icon-arrow-01-01"></div></div>
                </div>
          </div>
            <div class="more-wrap btn_group p_top_50 text-center">
              <a href="{{menuLink 'newsandupdates'}}" class="btn_new" >
                  <span>View All</span>
              </a>
          </div>
        </div>
  </div>
</section>




														
														
						


{{> footer_ar}} {{> script-page}}

