{{> header_ar}}
{{> loader}}


<section class="page-section initiatives_page opn_lb_page">
  <div class="breadCrumbWrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="current"><a href="#">Open Lab</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="title_box">
      <div class="title_box text-center">
          <h2 class="section-title"><span>Open Lab</span></h2>
      </div>
    </div>

    <div class="inner_">
      <div class="links_dv">
          <ul>
              <li>
                  <a href="#"><i class="icon_"> <img src="{{assets}}/images/community-icon.svg"/> </i>
                  <p> For the science community</p></a>
              </li>
              <li>
                  <a href="#"><i class="icon_"> <img src="{{assets}}/images/website-icon.svg"/> </i>
                  <p> For the science community</p></a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</section>

<section class="page-section conetnt_box">
    <div class="container">
        <div class="inner_ text-center">
            <div class="rgt_">
                <div class="text_box">
                    <p>The Mohammed bin Rashid Academy of Scientists is the primary body representing the UAE's science community. Composed of the UAE’s top researchers from several institutions in the country, with expertise in the fields of natural sciences, engineering and health and medical sciences, MBRAS aims to establish a link between the science community, government and industry through supporting evidence-based policies, solutions to challenges, and creating opportunities.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section objctvs_sec">
    <div class="container">
        <div class="sub_head text-center">
            <h3><span>Objectives</span></h3> 
        </div>
        <div class="inner_">
            <ul>
                <li>
                    <span>01</span>
                    <div class="text_box">
                        <p>To ensure continuity of research by utilizing available 
equipment in institutions across the UAE.</p>
                    </div>
                </li>
                 <li>
                    <span>02</span>
                    <div class="text_box">
                        <p>Creating scientific environment that supports scientific 
advancement by reducing the cost through the adoption of 
sharing equipment between research institutions.</p>
                    </div>
                </li>
                 <li>
                    <span>03</span>
                    <div class="text_box">
                        <p>Sharing knowledge across institutions.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="page-section vdio_sec opn_vdo_sec">
    <div class="container">
        <div class="inner_">
            <div class="box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/open-lab-vdio1.jpg" type="image/webp">
                        <source srcset="{{assets}}/images/open-lab-vdio1.jpg" type="image/png">
                        <img src="{{assets}}/images/open-lab-vdio1.jpg" loading="lazy" alt="">
                    </picture>
                    <div class="ply_icon">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/ply_icon.svg"></div>
                    </div>
                    <a href="https://www.youtube.com/embed/T1WQWAGtFss" data-fancybox="forum_image" class="link_ cmn_link"></a>
                </div> 
            </div>
            <div class="box">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/open-lab-vdio2.jpg" type="image/webp">
                        <source srcset="{{assets}}/images/open-lab-vdio2.jpg" type="image/png">
                        <img src="{{assets}}/images/open-lab-vdio2.jpg" loading="lazy" alt="">
                    </picture>
                    <div class="ply_icon">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/ply_icon.svg"></div>
                    </div>
                    <a href="https://www.youtube.com/embed/T1WQWAGtFss" data-fancybox="forum_image" class="link_ cmn_link"></a>
                </div> 
            </div>
        </div>
    </div> 
</section>




<section class="page-section partner_sec"> 
    <div class="container">
        <div class="title_box">
            <div class="title_box text-center">
                <h2 class="section-title"><span>Partners</span></h2>
            </div>
        </div>
        <div class="inner_">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <div class="box_">
                            <div class="img_wraper">
                                <div class="img_ b-lazy" data-src="{{assets}}/images/partners/partner01.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="box_">
                            <div class="img_wraper">
                                <div class="img_ b-lazy" data-src="{{assets}}/images/partners/partner02.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="box_">
                            <div class="img_wraper">
                                <div class="img_ b-lazy" data-src="{{assets}}/images/partners/partner03.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="box_">
                            <div class="img_wraper">
                                <div class="img_ b-lazy" data-src="{{assets}}/images/partners/partner04.png"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


{{> footer_ar}} {{> script-page}}

