{{> header_ar}}
{{> loader}}


<section class="page-section podcast_inner">
  <div class="breadCrumbWrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="current"><a href="#">Good Question</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="title_box">
      <div class="title_box text-center">
          <h2 class="section-title"><span>Good Question</span></h2>
      </div>
    </div>
  </div>
</section>

<section class="page-section pod_sec no_padd_top">
    <div class="container">
        <div class="inner_">
           <div class="lf_">
                <div class="inn_">
                    <div class="img_wrap">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/podcast1.png"></div>
                    </div>
                </div>
           </div>
           <div class="rgt_">
               <div class="text_box">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum, tortor vel tincidunt sodales, leo lacus vestibulum sem, sit amet rhoncus tortor neque a lectus. Mauris ultricies felis non diam pretium accumsan. In a mauris   enim. Sed ut neque tellus.</p>
                    <p>Vestibulum convallis nibh augue, ac egestas velit dictum semper. Integer eget finibus ipsum. Donec mollis sit amet nisi a imperdiet.</p>
               </div>
           </div>
        </div>
    </div>
</section>

<section class="page-section pod_sec_list_">
    <div class="container">
        <div class="sub_head text-center">
            <h3><span>PODCAST</span></h3> 
        </div>
        <div class="inner_">
            <div class="box_">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/podcast-img.jpg" type="image/webp">
                        <source srcset="{{assets}}/images/podcast-img.jpg" type="image/png">
                        <img src="{{assets}}/images/podcast-img.jpg" loading="lazy" alt="">
                    </picture>
                </div>
                <div class="text_"><p>How Has Farming Evolved in the Past 
Decades? with AlMaha Al Muhairi</p></div>
<a href="#" class="link_"></a>
            </div>
            <div class="box_">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/pod_thumb_1.jpg" type="image/webp">
                        <source srcset="{{assets}}/images/pod_thumb_1.jpg" type="image/png">
                        <img src="{{assets}}/images/pod_thumb_1.jpg" loading="lazy" alt="">
                    </picture>
                </div>
                <div class="text_"><p>Why Are We Going to Mars? with Omran 
Sharaf</p></div>
<a href="#" class="link_"></a>
            </div>
            <div class="box_">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/pod_thumb_3.jpg" type="image/webp">
                        <source srcset="{{assets}}/images/pod_thumb_3.jpg" type="image/png">
                        <img src="{{assets}}/images/pod_thumb_3.jpg" loading="lazy" alt="">
                    </picture>
                </div>
                <div class="text_"><p>Why Are We Going to Mars? with Omran 
Sharaf</p></div>
<a href="#" class="link_"></a>
            </div>
            <div class="box_">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/pod_thumb_4.jpg" type="image/webp">
                        <source srcset="{{assets}}/images/pod_thumb_4.jpg" type="image/png">
                        <img src="{{assets}}/images/pod_thumb_4.jpg" loading="lazy" alt="">
                    </picture>
                </div>
                <div class="text_"><p>How Can We Help Conserve Endangered 
Species? with Hind Al Ameri</p></div> 
                <a href="#" class="link_"></a>
            </div>
            <div class="box_">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/pod_thumb_5.jpg" type="image/webp">
                        <source srcset="{{assets}}/images/pod_thumb_5.jpg" type="image/png">
                        <img src="{{assets}}/images/pod_thumb_5.jpg" loading="lazy" alt="">
                    </picture>
                </div>
                <div class="text_"><p>How Does Your Lifestyle at 20 Affect Your 
Health at 60? with Dr. Alawi Alsheikh Ali</p></div> 
            <a href="#" class="link_"></a>
            </div>
            <div class="box_">
                <div class="img_wrap">
                    <picture>
                        <source srcset="{{assets}}/images/pod_thumb_6.jpg" type="image/webp">
                        <source srcset="{{assets}}/images/pod_thumb_6.jpg" type="image/png">
                        <img src="{{assets}}/images/pod_thumb_6.jpg" loading="lazy" alt="">
                    </picture>
                </div>
                <div class="text_"><p>How Will Blockchain Technology Change 
the Future? with Dr. Marwan Alzarouni</p></div> 
                <a href="#" class="link_"></a>
            </div>
        </div>
        <div class="more-wrap btn_group p_top_50 text-center">
            <a href="#" class="btn_new">
                <span>Load More</span>
            </a>
        </div>
    </div>
</section>




{{> footer_ar}} {{> script-page}}

